<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        body{
            background-color: yellow;
        }
        p1{
            color: rgb(43, 0, 255);
            font-size: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }
    </style>
</head>
<body>
  
    <p1> Welcome to Home Page</p1>

</body>
</html>